__pycache__/
.cache/
*.pyc
.env
cache/
data/alternative/*
data/original/*

cache/*.txt
data/*.txt

# Allow placeholder files to keep folders in repo
!data/original/.gitkeep
!data/alternative/.gitkeep
